@using staff_control_panel.Models

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row pt-2">
        <h2 class="text-primary text-center">Список сотрудников</h2>
    </div>
        <form method="get">
    <div class="pt-5 b-10">
        <a asp-controller="Employee" asp-action="ChoosingAddPost" class="btn btn-primary">
            <i class="bi bi-plus-circle"> &nbsp; Добавить нового сотрудника</i>
        </a>
        <div class="float-start border p-3 inputDiv">
            <h4 class="text-center">Фильтры</h4>
            <label name="subunit">Подразделение</label>
                <select name="subunit" class="form-control">
                    <option selected>Выберите подразделение</option>
                    <option value="Склад материалов и готовой продукции" class="form-control">Склад материалов и готовой продукции</option>
                    <option value="Отдел механизации и автоматизации" class="form-control">Отдел механизации и автоматизации</option>
                    <option value="Ремонтно-строительный цех" class="form-control">Ремонтно-строительный цех</option>
                    <option value="Опытное производство" class="form-control">Опытное производство</option>
                    <option value="Энергомеханический отдело" class="form-control">Энергомеханический отдел</option>
                </select>

                <label class="control-label">Должность: </label>
                 <select name="Post" class="form-control">
                      <option selected>Выберете должность</option>
                      <option value="1" class="form-control">Директор</option>
                      <option value="2 подразделения" class="form-control">Руководитель подразделения</option>
                      <option value="3" class="form-control">Контролер</option>
                      <option value="4" class="form-control">Рабочий</option>
                 </select>
                 <input type="submit" value="Показать" class="btn btn-primary" />
                <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    Сбросить фильтры
                </a>
            </div>    
        </form>
    </div>
    <table class="table table-bordered table-striped table-dark pt-1 offset-md-1" style="width:50%">
        <thead>
            <tr>
                <th>
                    ФИО
                </th>
                <th>
                    Дата рождения
                </th>
                <th>
                    Пол
                </th>
                <th>
                    Должность
                </th>
                <th>
                    Подразделение
                </th>
                <th>
                    Дополнительная информация
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model.Employees)
            {
                <tr>
                    <td width="40%">
                        @obj.full_name
                    </td>
                    <td width="50%">
                        @obj.birthday
                    </td>
                    <td width="20%">
                        @obj.gender
                    </td>
                    <td width="30%">

                        @obj.Post.Name
                        <a asp-controller="Employee" asp-action="UpgradeStaff" asp-route-id="@obj.Id"><i class="bi bi-chevron-double-up"></i>Повысить</a>
                        
                    </td>
                    <td width="30%">
                        @obj.subunit
                    </td>

                    <td width="30%" class="info">
                        @if (@obj.PostId == 4)
                        {
                            <strong>@obj.uniq_info - ФИО руководителя</strong>
                        }
                        @if (@obj.PostId == 3)
                        {
                            <strong>@obj.uniq_info</strong>
                        }
                        @if (@obj.PostId == 2)
                        {
                            <strong>@obj.uniq_info - Стаж работы</strong>
                        }
                        @if (@obj.PostId == 1)
                        {
                            <strong>@obj.uniq_info - Дата вступления в должность</strong>
                        }


                    </td>
                    <td>
                    <div class="btn-group" role="group">
                            @if (@obj.PostId == 1)
                            {
                                <a asp-controller="Employee" asp-action="EditDirector" asp-route-id="@obj.Id" class="btn btn-primary mx-1"> <i class="bi bi-pencil-square"></i> Редактировать</a>
                            }
                            @if (@obj.PostId == 2)
                            {
                                <a asp-controller="Employee" asp-action="EditLead" asp-route-id="@obj.Id" class="btn btn-primary mx-1"> <i class="bi bi-pencil-square"></i> Редактировать</a>
                            }
                            @if (@obj.PostId == 3)
                            {
                                <a asp-controller="Employee" asp-action="EditController" asp-route-id="@obj.Id" class="btn btn-primary mx-1"> <i class="bi bi-pencil-square"></i> Редактировать</a>
                            }
                            @if (@obj.PostId == 4)
                            {
                                <a asp-controller="Employee" asp-action="EditWorker" asp-route-id="@obj.Id" class="btn btn-primary mx-1"> <i class="bi bi-pencil-square"></i> Редактировать</a>
                            }
                            
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-1"> <i class="bi bi-trash-fill"></i> Удалить</a>
                    </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


